/* Start Variables */
:root {
  --main-color: #19c8fa;
  --transprent-color: rgb(15 116 143 / 70%);
  --muted-color: #a2a2a2;
  --transition-duration: 0.3s;
  --text-height: 1.7;
}
/* End Variables */

/* Start General */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
}
html {
  scroll-behavior: smooth;
}
img,
video {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul {
  list-style-type: none;
}
/* End General */

/* Start Components */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Components */

/* Start Header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 999;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: relative;
  color: white;
}
header .container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 15px;
  width: calc(100% - 30px);
  height: 2px;
  background: var(--muted-color);
}
header .container .logo {
  min-width: 100px;
  display: block;
}
header .container .logo img {
  width: 100px;
}
header .container nav {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}
header .container nav ul {
  display: flex;
  align-items: center;
  transition: var(--transition-duration);
}
@media (min-width: 768px) {
  header .container nav .toggle-menu {
    display: none;
  }
}
@media (max-width: 767px) {
  header .container nav ul {
    display: none;
  }
  header .container nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 15px;
    top: 100%;
    width: calc(100% - 30px);
    background: var(--transprent-color);
  }
}
header .container nav ul li {
  height: 70px;
}
header .container nav ul li a {
  display: block;
  line-height: 70px;
  padding: 0 10px;
  height: 100%;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition-property: border, color;
  transition-duration: var(--transition-duration);
}
@media (max-width: 767px) {
  header .container nav ul li {
    height: 45px;
    width: 100%;
  }
  header .container nav ul li a {
    line-height: initial;
    padding: 20px 10px;
    display: flex;
    align-items: center;
  }
}
header .container nav ul li a.active,
header .container nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
  position: relative;
  z-index: 1;
}
header .container nav .form-search {
  border-left: 2px solid var(--muted-color);
  margin-left: 20px;
}
header .container nav .form-search i {
  padding: 0 20px;
}
/* End Header */

/* Start Landing */
.landing {
  height: 100vh;
  background-color: #1f2021;
  background-image: url("../imgs/landing.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.landing .overlay .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  width: 60%;
  padding: 20px 40px;
  background-color: var(--transprent-color);
  display: flex;
  justify-content: flex-end;
}
.landing .text .content {
  max-width: 500px;
  min-width: 200px;
}
.landing .overlay .text .content h1 {
  font-size: 22px;
  font-weight: normal;
  line-height: var(--text-height);
  margin-bottom: 20px;
  text-transform: uppercase;
}
.landing .overlay .text .content p {
  line-height: calc(var(--text-height) + 0.2);
  color: var(--muted-color);
  text-transform: lowercase;
}
.landing .overlay .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 30px;
  cursor: pointer;
}
.landing .overlay .change-background.change-left {
  left: 10px;
}
.landing .overlay .change-background.change-right {
  right: 10px;
}
.landing .overlay .bullets {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
.landing .overlay .bullets li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}
.landing .overlay .bullets li.active {
  background-color: var(--main-color);
}
