/* Start Variables */
:root {
  --main-color: #19c8fa;
  --muted-color: #a2a2a2;
  --transition-duration: 0.3s;
}
/* End Variables */

/* Start General */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
  background: gray;
}
html {
  scroll-behavior: smooth;
  height: 4000px;
}
img,
video {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul {
  list-style-type: none;
}
/* End General */

/* Start Components */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Components */

/* Start Header */
header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: relative;
}
header .container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 15px;
  width: calc(100% - 30px);
  height: 2px;
  background: var(--muted-color);
}
header .container .logo {
  display: block;
}
header .container .logo img {
  width: 120px;
}
header .container nav {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}
header .container nav ul {
  display: flex;
  align-items: center;
}
header .container nav ul li {
  height: 70px;
}
header .container nav ul li a {
  display: block;
  line-height: 70px;
  padding: 0 10px;
  height: 100%;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition-property: border, color;
  transition-duration: var(--transition-duration);
}
header .container nav ul li a.active,
header .container nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
  position: relative;
  z-index: 1;
}
header .container nav .form-search {
  border-left: 2px solid var(--muted-color);
  margin-left: 20px;
}
header .container nav .form-search i {
  padding: 0 20px;
}
