/* Start Variables */
:root {
  --main-color: #19c8fa;
  --muted-color: #a2a2a2;
  --transprent-color: rgb(15 116 143 / 70%);
  --transition-duration: 0.3s;
  --section-padding: 60px;
  --text-height: 1.7;
  --main-rounded: 6px;
}
/* End Variables */

/* Start General */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
}
html {
  scroll-behavior: smooth;
}
img,
video {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul {
  list-style-type: none;
}
/* End General */

/* Start Components */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.special-heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
  position: relative;
  padding: 20px 10px;
  margin-bottom: 50px;
}
.special-heading::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  height: 2px;
  width: 120px;
}
.special-heading::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: white;
}
.special-heading + p {
  text-align: center;
  max-width: 500px;
  margin: 0 auto 100px;
  line-height: var(--text-height);
  color: var(--muted-color);
}
/* End Components */

/* Start Header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 999;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: relative;
  color: white;
}
header .container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 15px;
  width: calc(100% - 30px);
  height: 1px;
  background: var(--muted-color);
}
header .container .logo {
  min-width: 100px;
  display: block;
}
header .container .logo img {
  width: 100px;
}
header .container nav {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}
header .container nav ul {
  display: flex;
  align-items: center;
  transition: var(--transition-duration);
}
@media (min-width: 768px) {
  header .container nav .toggle-menu {
    display: none;
  }
}
@media (max-width: 767px) {
  header .container nav ul {
    display: none;
  }
  header .container nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 15px;
    top: 100%;
    width: calc(100% - 30px);
    background: rgb(0 0 0 / 50%);
    border-radius: var(--main-rounded);
  }
}
header .container nav ul li {
  height: 70px;
}
header .container nav ul li a {
  display: block;
  line-height: 70px;
  padding: 0 10px;
  height: 100%;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition-property: border, color;
  transition-duration: var(--transition-duration);
}
@media (max-width: 767px) {
  header .container nav ul li {
    height: 45px;
    width: 100%;
  }
  header .container nav ul li a {
    line-height: initial;
    padding: 20px 10px;
    display: flex;
    align-items: center;
  }
}
header .container nav ul li a.active,
header .container nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
  position: relative;
  z-index: 1;
}
header .container nav .form-search {
  border-left: 2px solid var(--muted-color);
  margin-left: 20px;
}
header .container nav .form-search i {
  padding: 0 20px;
}
/* End Header */

/* Start Landing */
.landing {
  height: 100vh;
  background-color: #1f2021;
  background-image: url("../imgs/landing.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.landing .overlay .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  width: 60%;
  padding: 20px 40px;
  background-color: var(--transprent-color);
  display: flex;
  justify-content: flex-end;
}
.landing .text .content {
  max-width: 500px;
  min-width: 200px;
}
@media (max-width: 767px) {
  .landing .overlay .text {
    width: 100%;
  }
  .landing .text .content {
    max-width: 100%;
    min-width: auto;
  }
}
.landing .overlay .text .content h1 {
  font-size: 22px;
  font-weight: normal;
  line-height: var(--text-height);
  margin-bottom: 20px;
  text-transform: uppercase;
}
.landing .overlay .text .content p {
  line-height: calc(var(--text-height) + 0.2);
  color: var(--muted-color);
  text-transform: lowercase;
}
.landing .overlay .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 30px;
  cursor: pointer;
}
.landing .overlay .change-background.change-left {
  left: 25px;
}
.landing .overlay .change-background.change-right {
  right: 25px;
}
.landing .overlay .bullets {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
@media (max-width: 767px) {
  .landing .overlay .change-background {
    display: none;
  }
}
.landing .overlay .bullets li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}
.landing .overlay .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
@media (min-width: 768px) {
  .services .container .service-holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}
.services .container .service-holder .serv {
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .services .container .service-holder .serv {
    flex-direction: column;
    text-align: center;
  }
}
.services .container .service-holder .serv .serv-content h3 {
  color: var(--main-color);
  margin-bottom: 30px;
  font-size: 22px;
}
.services .container .service-holder .serv .serv-content h3 + p {
  color: var(--muted-color);
  line-height: var(--text-height);
  font-size: 18px;
}
/* End Services */

/* Start Our-design */
.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url("../imgs/design-features.jpg");
  backdrop-filter: cover;
  background-position: center center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  margin-bottom: 200px;
  overflow: hidden;
}
.design::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.design .design-img,
.design .design-content {
  position: relative;
  flex: 1;
}
@media (max-width: 767px) {
  .design .design-img {
    display: none;
  }
}
.design .design-img {
  bottom: -120px;
  text-align: center;
}
.design .design-content {
  color: white;
  background-color: var(--transprent-color);
  padding: 50px 60px;
}
.design .design-content h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 22px;
}
.design .design-content ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.design .design-content ul li {
  color: var(--muted-color);
}
.design .design-content ul li:before {
  content: "\f108";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 1px;
}
/* End Our-design */

/* Start Portoflio */
.portofolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.portofolio .portoflio-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media (max-width: 767px) {
  .portofolio .portoflio-list {
    gap: 0;
  }
}
.portofolio .portoflio-list li {
  padding: 10px 15px;
  margin-bottom: 40px;
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;
  text-transform: capitalize;
}
.portofolio .portoflio-list li.active {
  background: var(--main-color);
  color: white;
}
.portofolio .portoflio-holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
}
.portofolio .portoflio-holder .port {
  position: relative;
  overflow: hidden;
}
.portofolio .portoflio-holder .port .port-image {
  height: 100%;
}
.portofolio .portoflio-holder .port .port-image img {
  height: 100%;
  transition: var(--transition-duration);
}
.portofolio .portoflio-holder .port .port-image:hover img {
  transform: rotate(3deg) scale(1.1);
  filter: grayscale(10);
}
.portofolio .portoflio-holder .port .port-content {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  transition-property: all;
  transition-duration: var(--transition-duration);
  background-color: white;
  width: 100%;
  padding: 20px 10px;
}
.portofolio .portoflio-holder .port:hover .port-content {
  transform: translateY(0);
}
.portofolio .portoflio-holder .port .port-content h4 {
  font-weight: 600;
  margin-bottom: 10px;
}
.portofolio .portoflio-holder .port .port-content p {
  font-size: small;
  color: var(--main-color);
}
.portofolio .more {
  display: block;
  margin: 80px auto 0;
  padding: 10px 30px;
  border: none;
  background: var(--main-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}
/* End Portoflio */

/* Start  Video */
.video {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.video .video-container {
  position: relative;
}
.video .video-container:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}
.video .video-container .video-content {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: var(--transprent-color);
  padding: 50px;
  color: white;
}
.video .video-container .video-content h3 {
  text-transform: uppercase;
  font-weight: normal;
}
.video .video-container .video-content p {
  margin: 20px 0;
}
.video .video-container .video-content button {
  background: black;
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}
/* End  Video */

/* Start  About */
.about {
  padding-top: var(--section-padding);
  overflow: hidden;
}
.about .about-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -100px;
  margin-top: -100px;
}
@media (max-width: 767px) {
  .about .about-image {
    bottom: -50px;
    margin-top: -50px;
  }
}
/* End  About */

/* Start Statistics */
.statistics {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url("../imgs/stats.png");
  background-size: cover;
  position: relative;
}
.statistics::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.statistics .container {
  position: relative;
  background-color: var(--transprent-color);
  color: white;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}
@media (max-width: 767px) {
  .statistics .container .stats {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .statistics .container .stats {
    flex-basis: 50%;
  }
}
@media (min-width: 991px) {
  .statistics .container .stats {
    flex-basis: 25%;
  }
}
.statistics .container .stats {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.statistics .container .stats i {
  font-size: 18px;
  background-color: black;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.statistics .container .stats .stats-number {
  font-size: 30px;
  font-weight: bold;
}
.statistics .container .stats .stats-description {
  font-size: smaller;
}
